@charset "UTF-8";

a {
	overflow:hidden;
	outline:none;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

    body {
	padding-bottom: 40px;
	color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
    .navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin-top: 20px;
	margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

/* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
	border: 0;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
}

/* Downsize the brand/project name a bit */
    .navbar .brand {
	padding: 14px 60px 16px 20PX; /* Increase vertical padding to match navbar links */
	font-size: 130%;
	font-weight: bold;/* text-shadow: 0 -1px 0 rgba(0,0,0,.5);*/
}

/* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
	padding: 15px 20px;
	color:#555;
}

a.brand {
	color:#555 !important;
}

/* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
	margin-top: 10px;
}

.media-object {
	width:30px;
	height:30px
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
    .carousel {
/*      margin-bottom: 60px;
*/    }

.carousel .container {
	position: relative;
	z-index: 9;
}

.carousel-control {
	height: 80px;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	background-color: transparent;
	border: 0;
	z-index: 10;
}

.carousel .item {
	height: 350px; /*kozuma*/
}

.carousel img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;/*height: 350px; kozuma*/
}

.carousel-caption {
	background-color: transparent;
	position: static;
	max-width: 800px; /*kozuma*/
	padding: 0 20px;
	margin-top: 150px; /*kozuma*/
}

.carousel-caption h1, .carousel-caption .lead {
	margin: 0;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.carousel-caption .btn {
	margin-top: 10px;
}

/* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
	text-align: center;
}

.marketing h2 {
	font-weight: normal;
}

.marketing .span4 p {
	margin-left: 10px;
	margin-right: 10px;
}

/* Featurettes
------------------------- */

    .featurette-divider {
	margin: 80px 0; 
}

.featurette {
	padding-top: 120px; 
	overflow: hidden; 
}

.featurette-image {
	margin-top: -120px; 
}

.featurette-image.pull-left {
	margin-right: 40px;
}

.featurette-image.pull-right {
	margin-left: 40px;
}

.featurette-heading {
	font-size: 50px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {
.container.navbar-wrapper {
 margin-bottom: 0;
 width: auto;
}
.navbar-inner {
 border-radius: 0;
 margin: -20px 0;
 margin-top:0	/*kozuma*/;
}
.carousel .item {
 height: 250px;	/*kozuma*/
}
.carousel img {
 width: auto;
 height: 300px;	/*kozuma*/
}
.featurette {
 height: auto;
 padding: 0;
}
.featurette-image.pull-left, 
.featurette-image.pull-right {
 display: block;
 float: none;
 max-width: 40%;
 margin: 0 auto 20px;
}
 .carousel-caption {
 margin-top:50px; /*kozuma*/
}
 .carousel .item {
 height: 250px;	/*kozuma*/
}
}


/*  @media (max-width: 767px)------------------------- */

 @media (max-width: 767px) {
 .navbar-inner {
 margin: -20px;
 margin-top:0;	/*kozuma*/
}
 .navbar .brand {
 margin-left:0 !important;
 width:12em !important;
 padding-right:0 !important;
}
 .navbar {
 margin-left:0 !important;
 width:100% !important;
}
 .carousel {
 margin-left: -20px;
 margin-bottom: 60px;
 margin-right: -20px;
 padding-left:0 !Important;
 height: 200px;
}
.carousel-inner .container {
 margin:0;
 padding:0;
}
 .carousel img {
 height: 200px !Important;
 overflow:hidden;
}
.carousel-caption {
 width: 65%;
 width: 95%; /*kozuma*/
 padding: 0;
 margin-top: 50px;
 margin:10px;
}
.carousel-caption h1 {
 font-size: 18px !important; /*kozuma*/
 width:100%;
 line-height:1.2;
 border-bottom:1px dotted #ccc;
 padding-bottom:3px
}
.carousel-caption .lead, .carousel-caption .btn {
 font-size: 14px !important;
 font-weight:bold;
 line-height:1.4
}
.carousel-caption .lead {
 font-size: 1em !important;
 line-height:1.5
}
.carousel-caption .btn {
 padding:5px
}
.carousel-control {
 font-size:100px !important;
 font-weight:normal !important;
 margin-top:-20px
}
 .carousel .item {
 height: 200px;	/*kozuma*/
}
 .carousel_offsetLeft {
 margin-left:-300px !important;
}
 .carousel-control {
}
 .lineheight_press {
 line-height:1.2 !important
}
.mobile_small {
 font-size:16px !important;
}
 .marketing .span4 + .span4 {
 margin-top: 40px;
}
.featurette-heading {
 font-size: 30px;
}
.featurette .lead {
 font-size: 14px !important;
 line-height: 1.5;
}
 .link .media {
 width:90% !important;
 margin-left:0 !important;
}
 .media a {
display:block;
float:left;
width:80%
}
 a.link_icon {
 width:40px
}
 div.btn {
 width:100% !important;
 text-align:center
}
.page-header {
 margin-top: -40px;
}
.business {
 padding:2px
}
.business span {
 display:none;
}
.business a {
font-weight:bold
}

/*経歴表*/
.profile {
 width:6em !important;
}
}

/* from navbar settings*/
/* Sticky footer styles
-------------------------------------------------- */

html, body {
	height: 100%;/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
      #wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
        margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
      #push, #footer {
	height: 60px;
}

#footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
 margin-left: -20px;
 margin-right: -20px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom:40px !important
}
.credit {
}
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

	#wrap > .container {
	padding-top: 0px;
}

.container .credit {
	margin: 20px 0;
}

code {
	font-size: 80%;
}

.span9 h2 {
	font-size:120%;
	font-weight:bold;
	line-height:1.4
}

.span9 p {
	/*font-size:90%;*/
	line-height:2
}

.media-heading {
	line-height:1;
}

.link .media {
	width:80%;
	margin-left:20%;
}

.link .media h4 {
	line-height:2;
	font-size:1em;
	color:#666666;
	font-weight:normal
}

.link .btn {
	margin-bottom:0.5em;
}

.span3 h2 span {
	vertical-align:middle;
	margin-left:0.3em;
}

.row_suite {
	margin-top:1em;
}

.span3 p {
	color:#888;
}

.link .btn {
	margin-bottom:0.5em;
}

.row_suite {
	margin-top:2em;
}

.span3 p {
	color:#888;
}

.span3 li {
	margin-bottom:0.2em;
	font-size:90%;
	line-height:1.5;
}

.short {
	margin:1em 1em 3.5em 1em;
}

.short li {
	line-height:2;
	margin-bottom:1em;
}

.media-heading {
	margin:  10px 0;
	line-height:1.52
}

.media img {
	margin:  10px 0;
}

.header_topmargin {
	margin-top:5em;
}

/*経歴表*/
.profile {
	width:12em;
}

#footer {
	margin-top:6em !important;
}

.navbar .nav > .lang > a {
	display: inline;
	line-height:3;
	padding:0 2px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.navbar .nav > .lang > a.lang_active {
	opacity: 1;
	filter: alpha(opacity=100);
}

.nav > .lang {
	margin-left:20px;
	padding:0
}
